// colors
$color-bg-purple: #684bb1;
$color-bg-button: #e882e8;
$color-hover-social: #ff52c1;
$color-text-white: #fff;

//query sizes
$tablet-small: 768px;
$tablet-large: 1024px;
$desktop: 1440px;

// font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
body {
  margin: 0;
}

html {
  font-size: 62.5%;
  color: $color-text-white;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
