.footer {
  display: flex;
  justify-content: center;
  &__social-box {
    width: 10.4rem;
    display: flex;
    justify-content: space-between;
    padding-top: 6.4rem;
    padding-bottom: 4rem;
  }
  &__social {
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 0.8px solid $color-text-white;
    & i {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (min-width: $tablet-large) {
  .footer {
    justify-content: flex-end;
    margin-right: 7.9rem;

    &__social-box {
      width: 15.2rem;
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;
      padding-bottom: 4rem;
    }
    &__social {
      width: 3.8rem;
      height: 3.8rem;
      border: 1.2px solid $color-text-white;
      & i {
        font-size: 2rem;
      }
    }
  }
}
