body {
  background-color: $color-bg-purple;
}
.container {
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media only screen and (min-width: $tablet-large) {
  .container {
    max-width: 144rem;
    margin: 0 auto;
    background-image: url("/images/bg-desktop.svg");
    background-size: 1318px 800px;
  }
}
